* {
    margin: 0%;
    padding: 0%;
    font-family: raleway;

}

.first-taskbar {
    width: 100%;
    height: 30px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-logo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F9F9F9;
}

.imgdiv {
    width: 400px;

}

.logo {
    width: 100%;
}

.shopOurStoryRecContact {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.mainPic {
    width: 100%;
    display: flex;
}

.mainImageContainer {
    width: 35%;
    height: 90vh;
}

.mainImage {
    width: 100%;
    height: 100%;
}

.flex-row {
    width: 100%;
    display: flex;
}

.flex-column {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.shopNow {
    width: 130px;
    height: 25px;
    background-color: #0C3322;
    color: white;
    border-radius: 10px;
}

.footerOfMaiPg {
    width: 100%;
    height: 37px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0C3322;
    font-weight: 500;
}

.jarMarketAndNoodle {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.jarMarketAndNoodleDiv {
    width: 45%;
    height: 70vh;
}

.btn-white {
    width: 90px;
    height: 6vh;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.footer {
    width: 100%;
    height: 50vh;
    background-color: #EBF2EF;
}

.bottomFooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerIcons {
    width: 50%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.custom-link {
    color: black;
    text-decoration: none;
}

.custom-link:visited {
    color: black;
}

.custom-link:hover {
    color: rgb(25, 25, 145);
}

/*page 1 ends and page 2 begins*/
.filter {
    width: 99%;
    height: 10vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.filterDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btnfilter {
    width: 90px;
    height: 8vh;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

.filterListMenu {
    width: 25%;
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
}

/* Order page */
.order-container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.addToCartBuyNowContainer {

    display: flex;
    justify-content: space-around;
}

.addToCartBuyNow {
    width: 120px;
    height: 7vh;
    border: 0.5px solid black;
    border-radius: 5px;
}
.bthhover:hover{
    cursor: pointer;
}
#cart-count {
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  position: relative;
  top: -10px;
  left: -5px;
}
















/*Card*/
.card {
    width: 250px;
    height: 75vh;
    border: 0.5px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px black;
}

.cardImg {
    width: 100%;
    padding-top: 30px;
}

.carddetailsDiv {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.rating {
    display: flex;
    padding-bottom: 10px;
}



/*Dropdown*/
.dropbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}